body {
  @apply antialiased relative bg-cool-gray-200 dark:bg-gray-800 text-gray-900 dark:text-gray-100 font-sans;
  font-size: 12pt;
}

label {
  @apply inline-flex;
}
input[type="checkbox"] {
  @apply border-gray-300 border-2 text-black focus:border-gray-300 focus:ring-black;
  height: 20px;
  width: 20px;
}

input[type="text"], select, select[multiple] {
  @apply block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50;
  font-size: 1em;
}

select[multiple] {
  height: 5em;
  background: none;
}
.strikeout {
  text-decoration: line-through;
}
