<h1>TV Shows</h1>
<div id="shows">
    <div class="wrapper">
        <h2>Recent Episodes</h2>
        <%= render_episode_table(@recent) %>
        <h2>Upcoming Episodes</h2>
        <%= render_episode_table(@upcoming) %>
    </div>
</div>